
.App {
  font-family: sans-serif;

}
ul #notebox {
  visibility: hidden;
}
img {
  width: 150px;
  height: 150px;
}
input {
  border-color: aqua;
}
#qtd1 span {
  width: 50px;
  padding: 10px;
  margin-left: 50px;
  text-align: center;
  color: blueviolet;
}
.total{
  display: flex;
  align-items: right;
  justify-content: right;
  flex: 1;
  height: 100%;
  margin: 15px;
}

h1 {
  margin: 20px;
  padding: 10px;
  height: 80px;;
}
#items {
  border-bottom: 1px;
  border-color: darkgrey;
  border-bottom-style: solid;
  margin-left: 45px;;

}
.nav {

}
.shop {
  color: white;
  text-decoration: none;
  margin-top: 30px;
}
.cart {
  color: white;
  text-decoration: none;
  float:left;
  margin-top: 50px;
}